body{
	position:relative;
	font-family: 'Raleway', sans-serif;
}

nav{
	font-weight: 600;
}

#brand{
	/*color: rgba(255, 255, 255, .5);*/
	font-size: 2rem;
}

.fire{
	color: #ff1a1a
}

.navbar-light .navbar-nav .nav-link{
	padding-left: 30px;
}

.navbar-dark .navbar-nav .nav-link{
	padding-left: 30px;
}