<!DOCTYPE html>
<html>
<head>
	<title>Code Fire</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="img/fire.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/explore.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
	<div>
		<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" id="nav">
			<div class="container">
				<a href="index.html" class="navbar-brand navigate" id="brand"><i class="fas fa-fire fire"></i></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-demo">
				    <span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="nav-demo">
				

					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a href="#" class="nav-link"><i class="far fa-comments nav-icon"></i></a>
						</li>

						<li class="nav-item">
							<a href="#" class="nav-link"><i class="fas fa-bell nav-icon"></i></a>
						</li>

						<li class="nav-item">
							<a href="#" class="nav-link"><img src="img/avatar.jpg" height="35px" width="auto" id="avatar"></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="sidenav">
			<a href="/">Home</a>
			<a href="localhost/codefire/blog">Blog</a>
			<hr id="sidehr">
			<a href="#">Topics</a>
			<a href="#">Members</a>
			<a href="#">Events</a>
			<a href="#">Roles</a>
			<a href="#">Chapters</a>
			<a href="#">Workshops</a>
			<a href="#">About</a>
			<hr id="sidehr">
			<p class="sideContent">Chat</p>
			<a href="#"><i class="fas fa-fire fire"></i> Code Fire</a>
			<p class="sideContent">Online</p>
			<img src="img/avatar.jpg" height="35" width="auto" id="avatar2">
			<img src="img/avatar.jpg" height="35" width="auto" id="avatar2">
			<img src="img/avatar.jpg" height="35" width="auto" id="avatar2">
		</div>

		<div class="main">
			<div>
				<h3>Code Fire</h3>
				<p id="catch">Information to all Nigerians</p>
				<a href="#"><img src="img/avatar.jpg" height="35" width="auto" id="avatar2"></a>
				<input type="text" name="post" placeholder="What's on your mind?" class="form-control">
				<button type="submit" class="btn btn-primary" id="submit">Post</button>
				<a href="#"><i class="fas fa-paperclip" id="clip"></i></a>
			</div>

			<div class="posts">
				<a href="#"><img src="img/avatar.jpg" height="35" width="auto" id="avatar2"></a>
				<p class="user">Femi Balogun</p>
				<p class="writeUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<img src="img/land.jpg" id="image-post">
				<div class="interact">
					<a href="#"><i class="far fa-thumbs-up fire reaction"></i></a>
					<p class="reaction-text">Like</p>
					<a href="#"><i class="far fa-comment fire reaction"></i></a>
					<p class="reaction-text">Comment</p>
					<div>
						<a href="#"><img src="img/avatar.jpg" height="35" width="auto" id="avatar2"></a>
						<input type="text" name="post" placeholder="Share your thoughts..." class="form-control">
					</div>
					
				</div>
			</div>

			<div class="posts">
				<a href="#"><img src="img/avatar.jpg" height="35" width="auto" id="avatar2"></a>
				<p class="user">Vincent Nmeregini</p>
				<p class="writeUp">It has been an awesome experience participating in this Hackathon. Though very challenging, 
				it has helped me greatly to improve my skills.</p>

				<div class="interact">
					<a href="#"><i class="far fa-thumbs-up fire reaction"></i></a>
					<p class="reaction-text">Like</p>
					<a href="#"><i class="far fa-comment fire reaction"></i></a>
					<p class="reaction-text">Comment</p>
					<div>
						<a href="#"><img src="img/avatar.jpg" height="35" width="auto" id="avatar2"></a>
						<input type="text" name="post" placeholder="Share your thoughts..." class="form-control">
					</div>
					
				</div>
			</div>

			<div class="posts">
				<a href="#"><img src="img/avatar.jpg" height="35" width="auto" id="avatar2"></a>
				<p class="user">Godspower Okpara</p>
				<p class="writeUp">Hello Guys.</p>

				<div class="interact">
					<a href="#"><i class="far fa-thumbs-up fire reaction"></i></a>
					<p class="reaction-text">Like</p>
					<a href="#"><i class="far fa-comment fire reaction"></i></a>
					<p class="reaction-text">Comment</p>
					<div>
						<a href="#"><img src="img/avatar.jpg" height="35" width="auto" id="avatar2"></a>
						<input type="text" name="post" placeholder="Share your thoughts..." class="form-control">
					</div>
					
				</div>
			</div>
		</div>


	</div>

	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>

	 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	 <!-- <script type="text/javascript" src="assets/js/scroll.js"></script> -->
</body>
</html>