
		<div id="section1" class="text-center login-form">
			<div class="container">
				<form class="visible" method="POST" action="/forget">
					<div class="form-group" id="forgot">
						<h3 class="visible">Retrieve Your Account <i class="fas fa-fire fire"></i></h3>
						<input type="email" name="email" placeholder="Email address" class="form-control">
						<button type="submit" class="btn btn-primary" id="submit">Submit</button>
						
					</div>
				</form>
			</div>
			

			<div class="image-overlay"></div>
		</div>
		

		

	</div>
