<!DOCTYPE html>
<html>
<head>
	<title>Code Fire</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon"  type="image/png" href="img/fire.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#nav" data-offset="60">
	<div>
		

	
		<div id="section1" class="text-center">
			<h4 id="fav" class="visible">Welcome to</h4>
			<h1 id="name" class="visible">CODE FIRE <i class="fas fa-fire fire"></i>
			</h1>

			<hr id="firsthr" class="visible">

			<p id="start" class="visible">Information to all Nigerians </p>

			<a class="btn btn-outline-primary js-scroll-trigger visible navigate" id="firstbtn" href="/comment">
				EXPLORE
			</a>

			<div class="image-overlay"></div>
		</div>
		

		

	</div>

 <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

 <script type="text/javascript" src="assets/js/scroll.js"></script>