		
		<div id="section1" class="text-center login-form">
			<div class="container">
				<form class="visible" method="POST" action="/register">
					<div class="form-group">
						<h3 class="visible">Join Code Fire <i class="fas fa-fire fire"></i></h3>
						<input type="text" name="name" placeholder=" Name" class="form-control">
						<input type="text" name="username" placeholder=" Name" class="form-control">
						<input type="email" name="email" placeholder="Email address" class="form-control">
						<input type="password" name="password" placeholder="Create password" class="form-control">
						<input type="password" name="password2" placeholder="Confirm password" class="form-control">
						<button type="submit" class="btn btn-primary" id="submit">Submit</button>
						
					</div>
				</form>
			</div>
			

			<div class="image-overlay"></div>
		</div>
